<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/head'); %>
    <style>
        .entreprise-line {
            border-top: 2px solid #ccc;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <br>
    <!-- Offres d'emploi -->
    <div class="container-fluid media pl-5 my-2 justify-content-center">
        <% entreprises.forEach((entreprise) => { %>
        <div class="row my-auto">
            <div class="my-6">
                <h2 class="media-heading font-weight-bold text-center text-success">
                    <%= entreprise.nom %>
                </h2>
                <br>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6 my-auto">
                <div class="media-left mr-3">
                    <h4 class="font-weight-bold text-center text-primary">Détails de l'entreprise</h4>
                    <br>
                    <p> <b class="font-weight-bold">SIREN : </b>
                        <%= entreprise.siren %>
                    </p>

                    <p> <b class="font-weight-bold">Type d'organisation : </b>
                        <%= entreprise.type_organisation %>
                    </p>

                    <p> <b class="font-weight-bold">Date de création : </b>
                        <%= entreprise.date_creation %>
                    </p>

                    <p> <b class="font-weight-bold">Localisation : </b>
                        <div class="text-center">
                            <iframe height="300" frameborder="0" style="border:0" width="75%"
                                src="https://maps.google.com/maps?q=<%= entreprise.siege_social_lat %>,<%= entreprise.siege_social_long %>&hl=fr&z=14&amp;output=embed"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center entreprise-line"></div>

        <% }) %>
    </div>

</body>

<%- include('./partials/footer'); %>

</html>
