<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="/CSS/404.css">
</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body>
    
    <!-- Chargement des fichiers JavaScript de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


    <h1>
        <%= message %>
    </h1>

    <h2>
        <%= error.status %>
    </h2>

    <pre><%= error.stack %></pre>

</body>

<%- include('./partials/footer'); %>

</html>