<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <div data-bs-spy="scroll" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <div class="d-flex justify-content-center align-items-center ">
            <div class="centre-vertical body-content">
                <div class="card mx-auto b-2 my-2">
                    <div class="card-header text-center">
                        <h4>Candidater à l'offre</h4>
                        <%= title %>
                    </div>
                    <div class="card-body ">
                        <form method="POST" action="/candidature/upload_files" id="frmFileUpload"
                            enctype="multipart/form-data">

                            <input type="hidden" name="myUsername" value="<%= username %>" />
                            <div class="row">
                                <div class="col div-titre">
                                    Chargement de fichier avec multer
                                </div>
                            </div>

                            <div class="row" style="margin-bottom:5px;">
                                <div class="col-8 offset-2">
                                    <select class="form-select" id="file_type" name="myFileType" required="true">
                                        <option value="">--- Type du document ---</option>
                                        <option value="CV">C.V.</option>
                                        <option value="LM">L.M.</option>
                                        <option value="CIN">Autre</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row" style="margin-bottom:5px;">
                                <div class="col-8 offset-2">
                                    <input class="form-control" id="fileInput" name="myFileInput" type="file"
                                        accept="image/*,.pdf" required="true" />
                                </div>
                            </div>

                            <div class="row" style="margin-bottom:5px;">
                                <div class="col text-center">
                                    <button type="submit" class="btn btn-primary">Charger le fichier</button>
                                </div>
                            </div>

                            <% if (typeof uploaded_filename !='undefined' && typeof uploaded_original !='undefined' ) {
                                %>
                                <div class="row" style="margin: 10px 0px;">
                                    <div class="col text-center">
                                        <span>Le fichier <strong>
                                                <%= uploaded_original %>
                                            </strong> a bien été chargé sous le nom <strong>
                                                <%= uploaded_filename %>
                                            </strong>.</span>
                                    </div>
                                </div>
                                <% } %>

                                    <% if (typeof upload_error !='undefined' ) { %>
                                        <div class="row" style="margin: 10px 0px;">
                                            <div class="col text-center text-red">
                                                <span><strong>
                                                        <%= upload_error %>
                                                    </strong></span>
                                            </div>
                                        </div>
                                        <% } %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('./partials/footer'); %>

</html>