<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/head'); %>
        <link rel="stylesheet" href="../CSS/utilisateur.css">
</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body>
    <h2> Liste des offres </h2>
    <div class="container mt-4">
        <div class="row">
            <% offres.forEach((offer)=> { %>
                <div class="container-fluid media pl-5 my-2">
                    <div class="row">
                        <div class="col-sm-auto my-auto">
                            <iframe width="200" height="200" frameborder="0" style="border:0"
                                src="https://maps.google.com/maps?q=<%= offer.lieu_mission_lat %>,<%= offer.lieu_mission_long %>&hl=fr&z=14&amp;output=embed"
                                allowfullscreen>
                            </iframe>
                        </div>
                        <div class="col">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="media-heading">
                                                <%= offer.intitule %>
                                        </h4>
                                        <p>
                                            <%= offer.nom %>
                                        </p>
                                        <p>Salaire :<span id="salaire">
                                                <%= offer.salaire_min %> - <%= offer.salaire_max %>
                                            </span>€/mois</p>
                                        <p><b>Missions : <%= offer.type_metier %></b>
                                        <p>
                                            <%= offer.missions %>
                                        </p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>

    <nav class="navbar navbar-inverse bg-body navbar-fixed-bottom" style="position: static">
        <div class="container-fluid d-flex justify-content-center mb-4">
            <div class="row">
                <% for (let i=1; i <=totalPages; i++) { %>
                    <a class="col" href="?page=<%= i %>">
                        <%= i %>
                    </a>
                    <% } %>
            </div>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

<%- include('./partials/footer'); %>

</html>