<!DOCTYPE html>
<html>


<head>
    <%- include('./partials/head'); %>
        <link rel="stylesheet" href="../CSS/utilisateur.css">
</head>

<header>
    <%- include('./partials/header'); %>
</header>


<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <form action="/offre" method="GET">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Rechercher une offre d'emploi"
                            aria-label="Rechercher une offre d'emploi" aria-describedby="button-addon2" name="search">
                        <button class="btn btn-success" type="submit" id="button-addon2">Rechercher</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <select class="form-select" id="sort" onchange="sortResults(this.value)">
                    <option value="default" selected disabled>Trier par :</option>
                    <option value="date_croissante">Date validité la plus récente</option>
                    <option value="date_decroissante">Date validité la plus lointaine</option>
                    <option value="distance">Distance la plus proche</option>
                </select>
            </div>

            <% offres.forEach((offer)=> { %>
                <div class="container-fluid media pl-5 my-2" data-date_validite="<%= offer.date_validite %>">
                    <div class="row">
                        <div class="col-sm-auto my-auto border-2">
                            <iframe width="200" height="200" frameborder="0" style="border:0"
                                src="https://maps.google.com/maps?q=+<%= offer.lieu_mission_lat %>+,+<%= offer.lieu_mission_long %>+&hl=fr&z=14&amp&output=embed"
                                allowfullscreen>
                            </iframe>
                        </div>
                        <div class="col">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="media-heading">

                                            <a href="/offre/<%= offer.id %>">
                                                <%= offer.intitule %>
                                            </a>
                                        </h4>
                                        <p>
                                            <%= offer.ORG_nom %>
                                        </p>
                                        <p>Salaire :<span id="salaire">
                                                <%= offer.salaire_min %> - <%= offer.salaire_max %>
                                            </span>€/mois</p>
                                        <p>Date validité : 
                                            <script>
                                                var date = new Date("<%= offer.date_validite %>");
                                                document.write(date.toLocaleDateString());
                                            </script>
                                        </p>
                                        <p><b>Missions : <%= offer.TM_nom %></b>
                                        <p>
                                            <%= offer.TM_description %>
                                        </p>
                                        </p>
                                    </div>
                                    <div class="col-3 my-auto">
                                        <a href="/offre/<%= offer.id %>">
                                            <button type="button" class="btn btn-outline-success">Informations
                                                complémentaires</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>

        </div>
    </div>

    <nav class="navbar navbar-inverse bg-body navbar-fixed-bottom" style="position: static">
        <div class="container-fluid d-flex justify-content-center mb-4">
            <div class="row">
                <% for (let i=1; i <=totalPages; i++) { %>
                    
                    <script>
                        var param_page = new URLSearchParams(window.location.search).get('sort');
                        if (param_page === null) {
                            param_page = "";
                        }
                        if (param_page === "date_croissante") {
                            param_page = "&sort=date_croissante";
                        }else if (param_page === "date_decroissante") {
                            param_page = "&sort=date_decroissante";
                        }else if (param_page === "distance") {
                            param_page = "&sort=distance_nearest";
                        }

                        var param_search = new URLSearchParams(window.location.search).get('search');
                        if (param_search === null) {
                            param_search = "";
                        }else{
                            param_search = "&search="+param_search;
                        }
                        document.write("<a class='col' href='?page=<%= i %>"+param_page + param_search + "'><%= i %></a>");
                    </script>

                    <% } %>
            </div>
        </div>
    </nav>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function sortResults(value) {
            var param_search = new URLSearchParams(window.location.search).get('search');
            if (param_search === null) {
                if (value === "date_croissante") {
                    document.location.href = "/offre?sort=date_croissante";
                }else if (value === "date_decroissante") {
                    document.location.href = "/offre?sort=date_decroissante";
                }else if (value === "distance") {
                    document.location.href = "/offre?sort=distance_nearest&lat=<%= lat %>&long=<%= long %>";
                }
            }else{
                if (value === "date_croissante") {
                    document.location.href = "/offre?sort=date_croissante&search="+param_search;
                }else if (value === "date_decroissante") {
                    document.location.href = "/offre?sort=date_decroissante&search="+param_search;
                }else if (value === "distance") {
                    document.location.href = "/offre?sort=distance_nearest&lat=<%= lat %>&long=<%= long %>&search="+param_search;
                }
            }
        }
    </script>


</body>

<%- include('./partials/footer'); %>

</html>