<!DOCTYPE html>
<html>


<head>
    <%- include('./partials/head'); %>
        <link rel="stylesheet" href="../CSS/utilisateur.css">
</head>

<header>
    <%- include('./partials/header'); %>
</header>


<body>
    <!-- Barre de navigation -->

    <div class="container mt-4">
        <div class="row">
            <!-- Barre de recherche et filtres -->

            <!-- Tri -->
            <div class="col">
                <label for="sort">Trier par :</label>
                <select class="form-select" id="sort" onchange="sortResults(this.value)">
                    <option value="default" selected disabled>Choisir un critère</option>
                    <option value="date_croissant">Date du + récent au + vieux</option>
                    <option value="date_decroissant">Date du + vieux au + récent</option>
                    <option value="distance">Distance</option>
                </select>
            </div>

            <!-- Offres d'emploi -->
            <% offres.forEach((offer)=> { %>
                <div class="container-fluid media pl-5 my-2" data-date_validite="<%= offer.date_validite %>">
                    <div class="row">
                        <div class="col-sm-auto my-auto border-2">
                            <iframe width="200" height="200" frameborder="0" style="border:0"
                                src="https://maps.google.com/maps?q=+<%= offer.lieu_mission_lat %>+,+<%= offer.lieu_mission_long %>+&hl=fr&z=14&amp&output=embed"
                                allowfullscreen>
                            </iframe>
                        </div>
                        <div class="col">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="media-heading">

                                            <a href="/offre/<%= offer.id %>">
                                                <%= offer.intitule %>
                                            </a>
                                        </h4>
                                        <p>
                                            <%= offer.ORG_nom %>
                                        </p>
                                        <p>Salaire :<span id="salaire">
                                                <%= offer.salaire_min %> - <%= offer.salaire_max %>
                                            </span>€/mois</p>
                                        <p>Date validité : 
                                            <script>
                                                var date = new Date("<%= offer.date_validite %>");
                                                document.write(date.toLocaleDateString());
                                            </script>
                                        </p>
                                        <p><b>Missions : <%= offer.TM_nom %></b>
                                        <p>
                                            <%= offer.TM_description %>
                                        </p>
                                        </p>
                                    </div>
                                    <div class="col-3 my-auto">
                                        <a href="/offre/<%= offer.id %>">
                                            <button type="button" class="btn btn-success">Informations
                                                complémentaires</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>

        </div>
    </div>



    <!-- Barre de navigation en bas -->
    <nav class="navbar navbar-inverse bg-body navbar-fixed-bottom" style="position: static">
        <div class="container-fluid d-flex justify-content-center mb-4">
            <div class="row">
                <% for (let i=1; i <=totalPages; i++) { %>
                    <a class="col" href="?page=<%= i %>">
                        <%= i %>
                    </a>
                    <% } %>
            </div>
        </div>
    </nav>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function sortResults(value) {
            if (value === "date_croissant") {
                var sorted = false;
                while (!sorted) {
                    sorted = true;
                    $(".media").each(function (index) {
                        var next = $(this).next();
                        if (next.length == 0) {
                            return;
                        }
                        var nextDate = new Date(next.data("date_validite")).toISOString().split('T')[0];
                        var thisDate = new Date($(this).data("date_validite")).toISOString().split('T')[0];
                        if (nextDate < thisDate) {
                            sorted = false;
                            next.after($(this));
                        }
                    });
                }
            }else if (value === "date_decroissant") {
                var sorted = false;
                while (!sorted) {
                    sorted = true;
                    $(".media").each(function (index) {
                        var next = $(this).next();
                        if (next.length == 0) {
                            return;
                        }
                        var nextDate = new Date(next.data("date_validite")).toISOString().split('T')[0];
                        var thisDate = new Date($(this).data("date_validite")).toISOString().split('T')[0];
                        if (nextDate > thisDate) {
                            sorted = false;
                            next.after($(this));
                        }
                    });
                }
            }else if (value === "distance") {
            }
        }
    </script>


</body>

<%- include('./partials/footer'); %>

</html>