<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./partials/head'); %>
        <link rel="stylesheet" href="../CSS/utilisateur.css">
</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body>

    <div class="container">
        <h1 class="text-center">Liste des personnes souhaitant rejoindre votre entreprise</h1>
        <% entreprises.forEach((entreprise)=> { %>
            <div class="container-fluid media ml-5 mr-5 my-2">
                <div class="row">
                    <div class="col">
                        <div class="media-body">
                            <div class="row">
                                <div class="col">
                                    <div class="d-flex">
                                        <div style="justify-content : center;">
                                            <h4 class="media-heading">
                                                <%= entreprise.ORG_nom %>
                                            </h4>
                                            <p>Nom du demandeur : <%= entreprise.nom %></p>
                                            <p>Prénom du demandeur : <%= entreprise.prenom %></p>
                                            <p>Email : <%= entreprise.email %></p>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-auto my-auto">
                                    <div class="d-flex">
                                        <form action="/admin/accept_entreprise" method="POST">
                                            <input type="hidden" name="siren" value="<%= entreprise.siren %>">
                                            <input type="hidden" name="user" value="<%= entreprise.email %>">
                                            <button type="submit" class="btn btn-success">Accepter l'entreprise</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

<%- include('./partials/footer'); %>

</html>