<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/head'); %>
</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body>
    <table class="table table-striped-columns">
        <thead class="table-dark">
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <% users.forEach((user)=> { %>
                <tr>
                    <td>
                        <%= user.prenom %>
                    </td>
                    <td>
                        <%= user.nom %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

<%- include('./partials/footer'); %>

</html>